// ---------- SCROLL BAR ---------- //

@mixin scroll-x($scroll-type) {
    overflow-x: $scroll-type;
    &::-webkit-scrollbar { height: 5px; }
    &::-webkit-scrollbar-track { background-color: $md-grey-35; }
    &::-webkit-scrollbar-thumb { background-color: $theme-terthiary; }
    &::-webkit-scrollbar-thumb:hover { background-color: $md-grey; }
}

@mixin scroll-y($scroll-type) {
    overflow-x: $scroll-type;
    &::-webkit-scrollbar { width: 5px; }
    &::-webkit-scrollbar-track { background-color: $md-grey-35; }
    &::-webkit-scrollbar-thumb { background-color: $theme-terthiary; }
    &::-webkit-scrollbar-thumb:hover { background-color: $md-grey; }
}

// ---------- UTILITIES ---------- //

@mixin fw-400 { font-weight: 400; }
@mixin fw-600 { font-weight: 600; }

@mixin border-full { border: 1px solid $theme-terthiary; }

// ---------- LINK ---------- //

@mixin link-style {
    color: $link;
    &:hover, &:focus { 
        color: $link;
        text-decoration: underline;
    }
}

@mixin menu-link-style {
    display: flex;
    flex-direction: row;
    padding: .5rem 1rem;
    border-radius: .25rem;
    color: $theme-color-primary;
    transition: .2s ease-in-out;
    &:hover, &:focus { 
        background-color: $md-grey-35;
        text-decoration: none;
    }
}

// ---------- OTHERS ---------- //

@mixin block-wrapper-hover {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    transition: .2s ease-in-out;

    &:hover, &:focus { 
        background-color: $md-grey-35;
        text-decoration: none;
    }
}